
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/UserCSS.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <link href="~/Content/css/head.css" rel="stylesheet" />
    <link href="~/Content/css/footer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/ops.js"></script>
    <script src="~/Content/js/UserJS.js"></script>
    <title>UserCentre</title>
    <style type="text/css">
    </style>
    <script type="text/javascript">
        $(function () {
            $("#grzx").addClass("selected");
        });
    </script>
</head>
<body>
    <div class="header">

        <link href="/Content/css/head.css" rel="stylesheet" />
        <script>
            $(function () {
                $('.nav-crosswise>li').hover(
                    function () {
                        $(this).children('ul').stop(true, true).animate({ height: 'show' }, 'fast');
                        $('.nav-crosswise>li>ul>li').hover(
                            function () {
                                $(this).children("span").css("display", "block");
                            }, function () {
                                $(this).children("span").css("display", "none");
                            });
                    }, function () {
                        $(this).children('ul').stop(true, true).animate({ height: 'hide' }, 'fast');

                    }
                );
            });
        </script>
        <div class="head">
            <span class="logohead">
            </span>
            <div class="account">
                <div class="account_meta account_faq" id="first">
                    第一次使用CP校园社团平台？                            <a class="seg" href="/Home/Reg">立即注册</a>|<a class="seg" href="javascript.void(0)" target="_blank">使用帮助</a>
                </div>
            </div>
            <div class="nav">
                <ul class="nav-crosswise">
                    <li><a href="/Home/Index" id="head">首页</a></li>
                    <li>
                        <a href="/Article/ArtInfo/1375" id="styx">社团印象<span class="arrow-down"></span></a>
                        <ul>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1375">社团简介</a></li>

                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1432">社团风采</a></li>

                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1402">社团文化</a></li>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1399">社团风景</a></li>

                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1394">社团攻略</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Article/ArtWelcomeInfo/1733" id="yxxz">迎新须知<span class="arrow-down"></span></a>
                        <ul>
                            <li><span class="arrow-up"></span><a href="/Article/ArtWelcomeInfo/1733">迎新快讯</a></li>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1377">入学准备</a></li>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1426">迎新流程</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Article/ArtInfo/1381" id="xzst">学在社团<span class="arrow-down"></span></a>
                        <ul>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1381">活动介绍</a></li>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1388">活动交流</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Article/ArtInfo/1393" id="stfw">社团服务<span class="arrow-down"></span></a>
                        <ul>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1393">活动申请</a></li>
                            <li><span class="arrow-up"></span><a href="/Article/ArtInfo/1392">申请流程介绍</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/SignUp" id="bmtd">报名通道@*<span class="arrow-down"></span>*@</a>
                    </li>
                    <li>
                        <a href="/PersonalCentre/Index" id="grzx">个人中心@*<span class="arrow-down"></span>*@</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-bottom:20px;height:auto;">
        <hr style="text-align:center;width:75%;color:#fa9406" />
    </div>
    <!--<div class="main-nav">-->
    <div class="row">
        <div class="u-menu">
            <ul class="u-nav" id="user_menu">
                <li class="item" id="user_menu_my" name="user_menu_my">
                    <h3 class="t1">
                        我的信息<span title="折叠"></span>
                    </h3>
                    <ul class="sub">
                        <li><a href="/PersonalCentre/PersonalHome">个人主页</a></li>
                        <li><a href="/PersonalCentre/PersonalData">个人资料</a></li>
                        <li>
                            <a href="/PersonalCentre/IdentifiManage">
                                认证管理
                            </a>
                        </li>
                        <li><a href="/PersonalCentre/PasswordInstall">密码设置</a></li>
                        <li><a class="current" href="/PersonalCentre/RecommmendUserful">推荐有奖</a></li>
                    </ul>
                </li>
                <li class="item" id="user_menu_funds" name="user_menu_funds">
                    <h3 class="t2">
                        消息管理<span title="折叠"></span>
                    </h3>
                    <ul class="sub">
                        <li><a href="/PersonalCentre/MyNews">我的消息</a></li>
                    </ul>
                </li>
                <li class="item" id="user_menu_loan" name="user_menu_loan">
                    <h3 class="t3">
                        活动管理<a name="user_login"></a><span title="折叠"></span>
                    </h3>
                    <ul class="sub">
                        <li><a href="/PersonalCentre/MySignUp">我的选报</a></li>
                        <li><a href="/PersonalCentre/MyApply">我的申请</a></li>
                    </ul>
                </li>
            </ul>
            <script type="text/javascript">
                var menuClosed = Ops.getCookie('menuClosed');

                $(".item h3 span").click(function () {

                    menuClosed = Ops.getCookie('menuClosed');
                    if (menuClosed == undefined || menuClosed == null) {
                        menuClosed = '';
                        Ops.setCookie('menuClosed', menuClosed);
                    }
                    //console.log(menuClosed+',click;;;');
                    $(this).parent().parent().toggleClass('bg-slide');
                    $(this).parent().parent().find(".sub").slideToggle('fast');

                    if ($(this).attr('title') == '折叠') {
                        $(this).attr('title', '展开');
                    } else {
                        $(this).attr('title', '折叠');
                    }

                    var pid = $(this).parent().parent().attr('id');

                    if ($(this).parent().parent().hasClass('bg-slide') && menuClosed.indexOf("#" + pid + "#") == -1) {
                        var cookies = menuClosed + '#' + pid + '#';
                    } else {
                        var cookies = menuClosed.replace("#" + pid + "#", '');
                    }
                    Ops.setCookie('menuClosed', cookies);
                });

                if (menuClosed != null) {
                    var closedMatch = menuClosed.match(/([a-z_]+)/g);
                    for (var i in closedMatch) {
                        var idObj = $('#' + closedMatch[i]);
                        idObj.toggleClass('bg-slide');
                        idObj.find(".sub").hide();
                        idObj.find('h3 span').attr('title', '展开');
                    }
                } else {
                    $("#user_menu_loan h3 span").click();
                }
            </script>
        </div>
        <div class="u-main">
            <div class="u-tab-wrap">
                <ul class="u-tab clearfix">
                    <li val="user_invite_box" class="current"><a>推荐有奖</a></li>
                </ul>
            </div>
            <div id="user_invite_box" class="u-form-wrap" style="padding: 20px 50px 50px 30px;">
                <div class="hasbg" style="margin-bottom: 15px;">
                    <div class="i-item" style="color: red; font-size: 14px;">
                        复制下面的推荐注册链接，<br />
                       可快速地分享该网站给其他用户
                        <br />
                        分享之后，可根据分享确认进行积分等级奖励
                        <br />
                        <span class="green">(注：任何用户都可以进行网站链接分享)</span>
                    </div>
                    <div class="i-item-btn i-item-btn2">
                        <label class="i-til" style="font-size: 14px; font-weight: blod;">
                            推荐链接：
                        </label><input id="invite_url" name="url" type="text" value="https://www.baidu.com"
                                       class="i-inp" style="width: 310px;" />
                        &nbsp;&nbsp;
                        <button id="user_invite_copy" type="button" class="i-btn-txt1">
                            复制链接
                        </button>
                    </div>
                </div>
                <div id="main_list">
                    这是已经推荐的人的列表
                </div>
                <div class="page-wrap">

                </div>
            </div>
        </div>
    </div>
    <div class="footer">

        <link href="/Content/css/footer.css" rel="stylesheet" />
        <div class="foot">
            <span class="logofoot"></span>
            <div class="adress">
                <span><a href="http://www.uir.cn/">CP社团平台 | University of International Relations | UIR</a> </span>
                <span>地址：江西省南昌</span>
            </div>
            <div class="copyright">
                <span>京公网安备11040230042号</span>
                <span>技术支持 | cp社团开发小组</span>
            </div>
        </div>

    </div>
</body>
</html>
